.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0;
}
.webgl-content {
  position: absolute;
  top: 16px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, -0);
}
.webgl-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.webgl-content .logo,
.progress {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.webgl-content .logo {
  background: url("progressLogo.Light.png") no-repeat center / contain;
  width: 154px;
  height: 130px;
}
body {
  background-color: black;
}
h1 {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 64px;
}
p {
  color: white;
  margin: 0 auto;
  font-size: 18px;
}

a {
  color: white;
}

.debug-functions button {
  padding: 5px;
}
